.navbar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-decoration: none;
    padding:20px;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar-nav a {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
        color: black;
}

.navbar img {
    width: 120px;
}



